.contenedor-app{
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.body-app{
  background-color: white;
  color:#282c34;
  padding: 20px;
}

h2{
  text-align: center;
  text-decoration: underline;
}


/**responsive **/

@media(width< 768px){

  .contenedor-app{
    font-size: 2rem;
  }
}